{% from "macros/render_flashes.html" import render_flashes %}

<!DOCTYPE html>
<html lang="en">
{% block style %}

{% endblock %}


<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{{url_for('static', filename='../../doc/flag.jpg')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0691185925.js" crossorigin="anonymous"></script>
    <script src="/static/js/myPopover.js"></script>

    {% block head %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fas fa-calendar-week"></i></a>
    </div>
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('day') }}">Daily</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('month') }}">Monthly</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Groups
            </a>
            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="{{ url_for('myGroups') }}">My Groups</a>
                <a class="dropdown-item" href="{{ url_for('search') }}">Join/Create</a>
                <a class="dropdown-item" href="{{ url_for('requests') }}">Requests</a>
            </div>
        </li>
        </li>
    </ul>
    <div class="nav navbar-nav ml-auto">
            <li class="navbar-text mr-4">
              {% if current_user is not none %}
                  Currently logged in as: {{ current_user.username }}
              {% endif %}
            </li>
            <li><a href="{{ url_for('logout') }}">
                <button class="btn btn-link"><i
                        class="fas fa-sign-out-alt"></i>Log out
                </button>
            </a></li>
    </div>
    {% endif %}
</nav>
{{ render_flashes() }}
{% if current_user.is_authenticated %}
  <div id="form button" style="position: fixed; bottom: 2%; right: 2%;">
      <button class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus"
              data-html="true" data-placement="top" title="Create New">
          Create
      </button>

  </div>
  <div id="taskModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add Task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-body">
                          <form action="{{ url_for('addTask') }}" method = "get">
                              <div class="form-group">
                                  Task Name
                                  <input class="form-control-sm card-title" type="text" name="title"
                                         placeholder="Title" required><br>
                              </div>
                              <div class="form-group">
                                  Description (optional)
                                  <input class="form-control-sm" type="text" name="description" placeholder="Description"><br><br>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="date">Due Date</label>
                                  <input class="form-control-sm" id="date" name="date" placeholder="MM/DD" type="text" required>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="date">Due Time (optional, in military time)</label>
                                  <input class="form-control-sm" id="date" name="time" placeholder="HR:MIN" type="text">
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="group">Post to a Group?</label>
                                  <select id="group" name="group" class="selectpicker" data-live-search="true" data-style="btn-outline-primary" title="Select a Group">
                                      {% for group in current_user.groups %}
                                          {% if group is not none %}
                                          <option>
                                              {{ group.name}}
                                          </option>
                                          {% endif %}
                                      {% endfor %}
                                      <option selected="selected"> N/A </option>
                                  </select>
                              </div>
                              <button class="btn btn-primary" type="submit">Add Task</button>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  <div id="eventModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add Event</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-body">
                          <form action= "{{ url_for('addTask') }}" method = "get">
                              <div class="form-group">
                                  Event Name
                                  <input class="form-control-sm card-title" type="text" name="title"
                                         placeholder="Title" required><br>
                              </div>
                              <div class="form-group">
                                  Description (optional)
                                  <input class="form-control-sm" type="text" name="description" placeholder="Description"><br><br>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="date">Event Date</label>
                                  <input class="form-control-sm" id="date" name="date" placeholder="MM/DD" type="text" required>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="time">Event Time (optional, in military time)</label>
                                  <input class="form-control-sm" id="date" name="time" placeholder="HR:MIN" type="text">
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="group">Post to a Group?</label>
                                  <select id="group" name="group" class="selectpicker" data-live-search="true" data-style="btn-outline-primary" title="Select a Group">
                                      {% for group in current_user.groups %}
                                          {% if group is not none %}
                                          <option>
                                              {{ group.name}}
                                          </option>
                                          {% endif %}

                                      {% endfor %}
                                      <option> N/A </option>
                                  </select>
                              </div>
                              <button class="btn btn-primary" type="submit">Add Event</button>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
{% endif %}

{% block content %}

{% endblock content %}
</body>


</html>
